@model IzdavanjeFaktura.Models.Invoice

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>@Model.Receiver - @Model.Number</title>
</head>
<body>
<div>
    Invoice Data  
</div>
</body>
</html>